body {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  margin-left: 45%;
  padding: 2rem;
  margin-top: 10rem;
}

button:hover {
  background-color: orange;
  cursor: pointer;
}

h2 {
  text-align: center;
}
